/*
Aplicacion de las propiedades básicas de las cajas
.box-1{
    padding: 10px;
    margin: 20px;
    border: 20px solid #000;
    background-color: #0f560f;
}

.box-2{
    padding: 10px;
    margin: 60px;
    border: 20px solid #000;
    background-color: #0000ff;
}
*/

